*__pycache__
*.ipynb_checkpoints/
data/
.idea*
experiments/pretrained_model/
experiments/reference/eval/
experiments/reference/train/
experiments/reference/exported/
experiments/reference/ckpt*

experiments/improved/eval/
experiments/improved/train/
experiments/improved/exported/
experiments/improved/ckpt*

.vscode/